
/* work on the nav bar before getting into detailed product card so that I have a better sense of layout */ 
/* used Inspect to check the gap and padding for nav categories */
/* applied previous WS's hover and cursor styling here as well (useful! will update in OB note for better reference) */


nav.categories {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  
    min-width: 25ch;
    padding: 0.25rem;
  }
  
  nav.categories a {
    background: var(--fg);
    color: white;
    text-transform: uppercase;
  
    padding: 0.5rem;
  }
  
  nav.categories a:hover {
    cursor: pointer;
    background: var(--fg-dark);
  }
